﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4"><i class="fa-solid fa-gamepad"></i>Xin chào đã đến với trang web của mình<i class="fa-solid fa-gamepad"></i></h1>
    <p><i class="fa-solid fa-bomb"></i>Bạn định sẽ làm gì ở đây?<i class="fa-solid fa-bomb"></i></p>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
