﻿@model IEnumerable<WebsiteBanHang.Models.Category>
<h2>Categories</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>           
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>             
                <td>                  
                    <a asp-action="Update" asp-route-id="@category.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>